<% if (site.tags.length){ %>
    <div class="box widget">
        <div class="title"><%= __('tag') %></div>
        <div class="item-box cloud-label">
            <%- tagcloud(site.tags) %>
        </div>
    </div>
<% } %>