<div class="box widget">
    <div class="introduction">
        <p><img src="<%= theme.avatar %>" alt="head-sculpture" /></p>
        <p class="name">
            <%= theme.author %>
        </p>
        <p class="slogan"><%= theme.slogan %></p>
    </div>
</div>