<header class="header">
    <div class="global-width">
        <nav class="nav-box">
            <% theme.menu.forEach(function (item) {%>
                <a class="nav-item" href="<%- item.url%>"
                <% if (item.newTab) { %>
                   target="_blank"
                <% } %>
                ><%= __(item.name) %></a>
            <%})%>
        </nav>
    </div>
</header>
